@{
    ViewData["Title"] = "Página Inicial";
}

    <section class="justificado">
        <h1>Bem-vindo ao Registro de Usuários!</h1>
        
        <p>
            Estamos muito felizes por ter você aqui! Nossa plataforma é dedicada a criar um ambiente seguro e organizado para todos os nossos usuários. Aqui, você pode realizar o registro de usuários de maneira simples e eficiente.
        </p>

        <h2>Como funciona o Registro de Usuários?</h2>
        
        <p>
            O processo é bem simples e rápido! Precisaremos de algumas informações básicas para iniciar seu registro:
        </p>
        
        <ul>
            <li>Nome</li>
            <li>RG</li>
            <li>Email</li>
        </ul>
        
        <p>
            Após concluir o processo de fornecimento desses dados, um ID único será gerado automaticamente para o seu registro. Este ID é a sua identificação dentro da nossa plataforma, assegurando que suas informações estejam sempre organizadas e acessíveis apenas quando você precisar.
        </p>

        <h2>Por que se registrar?</h2>
        
        <p>
            Ao se registrar em nossa plataforma, você terá acesso a recursos exclusivos, garantindo uma experiência mais completa e satisfatória. Valorizamos a segurança e a privacidade dos seus dados, e estamos sempre aqui para ajudar no que for necessário.
        </p>
        
        <p>
            Estamos ansiosos para tê-lo conosco e facilitar o seu dia a dia através da nossa plataforma. Vamos começar?
        </p>
    </section>
