@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1>Política de Privacidade da Registro de Usuários</h1>
<p><strong>Última atualização: 31/10/2023</strong></p>

<p>
    A Registro de Usuários respeita sua privacidade e está comprometida em proteger seus dados pessoais. Esta política
    de privacidade visa informá-lo sobre como cuidamos dos seus dados pessoais coletados através do nosso website ou
    por outros meios e informa sobre seus direitos de privacidade conforme estabelecido na Lei Geral de Proteção de
    Dados (Lei nº 13.709/2018) ("LGPD").
</p>

<h2>1. Dados que Coletamos</h2>
<p>Podemos coletar, armazenar e usar os seguintes tipos de dados pessoais:</p>
<ul>
    <li>Dados de identificação pessoal: nome, sobrenome e RG.</li>
    <li>Dados de contato: e-mail.</li>
    <li>Dados de uso: informações sobre como você usa o nosso site, produtos e serviços.</li>
</ul>

<h2>2. Como Coletamos Seus Dados</h2>
<p>
    Quando você fornece diretamente para nós, por exemplo, ao criar um registro de usuário. Automaticamente ao usar
    nosso site, como dados de tráfego, logs e outras comunicações de dados.
</p>

<h2>3. Como Usamos Seus Dados</h2>
<p>Usamos seus dados pessoais para:</p>
<ul>
    <li>Cadastrar os dados informados no item 1.</li>
    <li>
        Gerenciar nosso relacionamento com você, como notificá-lo sobre mudanças em nossos termos ou política de
        privacidade.
    </li>
    <li>Melhorar nosso site, produtos/serviços, marketing ou experiências de cliente.</li>
</ul>

<h2>4. Divulgação de Seus Dados</h2>
<p>
    Podemos compartilhar seus dados pessoais com terceiros em conformidade com as leis de proteção de dados aplicáveis
    e nossas políticas internas de segurança.
</p>

<h2>5. Seus Direitos</h2>
<p>
    Você tem o direito de acessar, corrigir, atualizar ou apagar seus dados pessoais a qualquer momento, entre outros
    direitos previstos na LGPD.
</p>

<h2>6. Segurança</h2>
<p>
    Implementamos medidas de segurança para proteger seus dados pessoais contra acesso, uso, alteração ou destruição
    não autorizados.
</p>

<h2>7. Alterações na Política de Privacidade</h2>
<p>
    Qualquer alteração que fizermos em nossa política de privacidade no futuro será postada nesta página e, se
    apropriado, notificada a você por e-mail.
</p>

<h2>8. Contato</h2>
<p>
    Para exercer seus direitos de titular dos dados ou se você tiver dúvidas sobre esta política de privacidade,
    entre em contato conosco em: <a href="mailto:registrodeusuario@gmail.com">registrodeusuario@gmail.com</a>
</p>

